@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:wght@400;700;800&display=swap");

:root {
  --pastel-green: #99ddcc;
  --pastel-pink: #ffe2e2;
  --footer-height: 100px;
  --menu-height: 500px;
  --header-height: 110px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 1rem "Lato", sans-serif;
}

html,
body {
  height: 100%;
}

.content-wrap {
  min-height: 100%;
  margin-bottom: calc(var(--footer-height) * -1);
}

.content-wrap::after {
  content: "";
  display: block;
}

.content-wrap::after,
footer {
  height: var(--footer-height);
}

footer {
  background-color: bisque;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: inherit;
}

button:focus {
  outline: none;
}

.logo {
  color: var(--pastel-green);
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

/* ================ HEADER =================== */

header {
  position: relative;
  width: 100%;
  height: var(--header-height);
}

header a.logo {
  font: 700 3rem "Playfair Display", sans-serif;
}

#site-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: relative;
  z-index: 3;
}

#site-top.nav-open {
  position: fixed;
}

#site-top > * {
  margin: 25px 10px 20px 10px;
}

.no-anim {
  animation: none;
}

nav {
  animation: slideUp 2s forwards;
  position: absolute;
  width: 100%;
  height: fit-content;
  top: calc(var(--menu-height) * -1);
  left: 0;
  background-color: white;
  padding: 0.5em 1em 1.5em 1em;
  z-index: 1;
}

nav.open {
  animation: slideDown 1s forwards;
  position: fixed;
  top: var(--header-height);
}

@keyframes slideDown{
  from {
    top: calc(var(--menu-height) * -1);
  } to {
    top: var(--header-height);
  }
}

@keyframes slideUp{
  from {
    top: var(--header-height);
  } to {
    top: calc(var(--menu-height) * -1);
  }
}

nav ul li {
  margin: 2em 1em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid black;
}

nav ul li a {
  font-size: 1.2rem;
}

.sign-log {
  display: flex;
  flex-direction: column;
}

.sign-log > * {
  border: 1px solid black;
  margin: 0.5em auto;
  width: 80%;
  padding: 0.6em 0;
  text-align: center;
}

/* ================ HERO =================== */

.hero-bg {
  background-image: url("./images/breakfast.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
}

.hero-msg {
  margin: 0 2em;
  background-color: white;
}

.hero-msg h1 {
  font: 700 1.8rem "Playfair Display", sans-serif;
  margin: 0.8em 0.5em 1em 0.5em;
}

.hero-msg p {
  margin: 1em 1em 2em 1em;
}

.hero-msg a {
  display: block;
  width: fit-content;
  margin: 1em 1em 2em 1em;
  padding: 0.6em 2em;
  border: 1px solid black;
}

/* ================ DESCRIPTION =================== */

.describe-card {
  width: 80%;
  margin: 4em auto;
}

.describe-card svg {
  display: block;
  margin: auto;
}

.describe-card h3{
  width: 70%;
  margin: 0.5em auto;
  font: 700 1.2rem "Playfair Display", sans-serif;
}

.describe-card h3,
.describe-card p {
  text-align: center;
}
