@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;700;800&display=swap");

:root {
  --pastel-green: #99ddcc;
  --pastel-pink: #ffe2e2;
  --footer-height: 100px;
  --menu-height: 500px;
  --header-height: 90px;
  --mb-card-w: 160px;
  --mb-card-h: 220px;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 1rem "Lato", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.content-wrap {
  min-height: 100%;
  margin-bottom: calc(var(--footer-height) * -1);
}

.content-wrap::after {
  content: "";
  display: block;
}

.content-wrap::after,
footer {
  height: var(--footer-height);
}

footer {
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: inherit;
}

button:focus {
  outline: none;
}

.logo {
  color: var(--pastel-green);
  display: block;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

/* ================ HEADER =================== */

header {
  position: relative;
  width: 100%;
  height: var(--header-height);
}

header a.logo {
  font: 700 3rem "Playfair Display", sans-serif;
}

#site-top {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 3;
}

#site-top.nav-open {
  position: fixed;
}

#site-top > .logo {
  margin: 0.3em 0.4em 0.1em 0.4em;
}

#site-top > #hamburger {
  margin: 0.3em 1.5em 0.1em 0.4em;
}

.no-anim {
  animation: none;
}

nav {
  animation: slideUp 2s forwards;
  position: absolute;
  width: 100%;
  height: fit-content;
  top: calc(var(--menu-height) * -1);
  left: 0;
  background-color: white;
  padding: 0.5em 1em 1.5em 1em;
  z-index: 1;
}

nav.open {
  animation: slideDown 1s forwards;
  position: fixed;
  top: var(--header-height);
}

@keyframes slideDown {
  from {
    top: calc(var(--menu-height) * -1);
  }
  to {
    top: var(--header-height);
  }
}

@keyframes slideUp {
  from {
    top: var(--header-height);
  }
  to {
    top: calc(var(--menu-height) * -1);
  }
}

nav ul li {
  margin: 2em 1em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid black;
}

nav ul li a {
  font-size: 1rem;
}

nav ul li a:hover {
  color: grey;
}

.sign-log {
  display: flex;
  flex-direction: column;
}

.sign-log > * {
  border: 1px solid black;
  margin: 0.5em auto;
  width: 80%;
  padding: 0.6em 0;
  text-align: center;
}

/* ================ HERO =================== */

.hero-bg {
  background-image: url("./images/breakfast.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
}

.hero-msg {
  margin: 0 2em;
  background-color: white;
}

.hero-msg h1 {
  font: 700 1.8rem "Playfair Display", sans-serif;
  margin: 0.8em 0.5em 1em 0.5em;
}

.hero-msg p {
  margin: 1em 1em 2em 1em;
}

.hero-msg a {
  display: block;
  width: fit-content;
  margin: 1em 1em 2em 1em;
  padding: 0.6em 2em;
  border: 1px solid black;
}

/* ================ DESCRIPTION =================== */

.describe-card {
  width: 80%;
  margin: 4em auto;
}

.describe-card svg {
  display: block;
  margin: auto;
}

.describe-card h3 {
  width: 70%;
  margin: 0.5em auto;
  font: 700 1.2rem "Playfair Display", sans-serif;
}

.describe-card h3,
.describe-card p {
  text-align: center;
}

/* ================ WEEKLY-MENU =================== */

.menu-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.weekly-menu h2 {
  font: 700 1.5rem "Playfair Display", sans-serif;
  border-bottom: 2px dashed var(--pastel-green);
  padding-bottom: 4px;
  margin: 0.5em auto;
  width: fit-content;
  text-align: center;
}

.menu-card {
  margin: 10px 12px;
}

.menu-card > * {
  max-width: var(--mb-card-w);
  margin-bottom: 0.2em;
}

.menu-card img {
  height: var(--mb-card-h);
  object-fit: cover;
  margin-bottom: 0.8em;
}

.menu-card h4 {
  font-weight: 700;
  font-size: 1.2rem;
}

/* ================ CTA =================== */

.cta {
  height: 100%;
  margin-top: 2em;
  padding-bottom: 1em;
  background-color: var(--pastel-pink);
}

.cta img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cta > * {
  text-align: center;
  width: 70%;
}

.cta-msg {
  margin: auto;
}

.cta-msg h2 {
  font: 700 1.5rem "Playfair Display", sans-serif;
  margin: 1em auto 0.5em auto;
}

.cta-msg p {
  font: 300 1.2rem "Lato", sans-serif;
}

.cta-msg a {
  display: block;
  width: fit-content;
  margin: 2em auto;
  padding: 0.4em 2em;
  border: 1px solid black;
}

/* ================ NEWSLETTER =================== */

.newsletter {
  margin: 0 auto 4em auto;
}

.newsletter form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.newsletter label {
  display: block;
  margin: 1em auto;
  padding: 1em;
  font: 700 1.2rem "Playfair Display", sans-serif;
}

.newsletter input {
  display: block;
  padding: 0.5em;
  width: 20em;
  border: 1px solid black;
}

.newsletter button {
  padding: 0.5em 1em;
  margin: 1em;
  border: 1px solid black;
  background-color: var(--pastel-green);
}

/* ================ FOOTER =================== */

.site-footer {
  border-top: 1px solid black;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}

.site-footer .logo {
  font: 700 2rem "Playfair Display", sans-serif;
}

.footer-left {
  margin: 0.5em auto;
}

.footer-right {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.footer-right > * {
  margin: 0.8em auto;
}

.site-footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-footer li {
  margin: 0.2em auto;
}

.site-footer li a:hover {
  color: grey;
}

.social {
  display: inline-block;
  text-align: center;
}

.social > * {
  margin: 0 0.2em;
}

.contact-2 {
  text-align: center;
}

.contact-2,
.contact-2 p a {
  color: grey;
}

.contact-2 > * {
  margin-bottom: 0.3em;
}

/* ================ BREAKPOINTS =================== */

@media (min-width: 600px) {
  #site-top {
    padding: 0 2em;
  }

  .sign-log > * {
    width: 30%;
  }

  .hero-bg {
    justify-content: flex-start;
  }

  .hero-msg {
    width: 50%;
  }

  .site-footer {
    flex-direction: row;
    margin: 0 15%;
    justify-content: space-between;
  }

  .footer-left {
    margin-left: 10%;
  }

  .footer-right {
    margin-right: 10%;
  }

  .site-footer ul li {
    margin-right: 0;
  }
}

@media (min-width: 800px) {
  .hero-msg {
    width: 35%;
  }

  nav {
    padding: 0 15% 1em 15%;
  }

  nav ul li {
    padding-bottom: 0.5em;
  }

  .cta {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: 1em;
  }

  .cta img {
    width: 60%;
  }
}

@media (min-width: 1000px) {
  header {
    max-width: var(--max-width);
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
  }

  header nav#menu {
    width: fit-content;
    height: var(--header-height);
    animation: none;
    top: 0;
    right: 0;
    left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    padding: 0;
  }

  #site-top.nav-open {
    position: relative;
  }

  nav.open {
    position: absolute;
  }

  #menu ul > :last-child {
    margin-right: 2.5em;
  }

  #site-top {
    width: fit-content;
  }

  #hamburger {
    display: none;
  }

  nav ul {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
  }

  nav ul li {
    padding-bottom: 0;
    margin: 0 1em;
    border-bottom: none;
  }

  .sign-log {
    flex-direction: row;
  }

  .sign-log > * {
    margin-right: 1em;
    width: fit-content;
    padding: 0.5em 1.5em;
  }

  .describe {
    display: grid;
    width: 100%;
    max-width: var(--max-width);
    margin: 2em auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .describe-card {
    width: 60%;
    margin: 1em auto;
  }

  .cta {
    max-width: var(--max-width);
    margin: 3em auto 1em auto;
  }

  .footer-right ul {
    flex-direction: row;
    align-items: center;
  }

  .footer-right ul > * {
    margin: 1em 0.5em;
  }

  .footer-right ul,
  .footer-right .social {
    margin-top: 0;
    margin-bottom: 0;
  }

  .social {
    margin-right: 0;
  }

  .contact-2 {
    margin: 1em auto;
  }
}

@media (min-width: 1150px) {
  .hero-bg {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .hero-msg {
    width: 100%;
    margin: 0;
    grid-column: 3 / 6;
    padding: 1em;
  }
}
